<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MKBS学生信息</title>
	<meta name="description" content="致敬传奇中式学校MKBS">
	<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./lib/bootstrap/css/bootstrap-table.min.css">
	<link rel="stylesheet" href="./css/index.css?v=20240322">
	<link rel="stylesheet" href="./css/button.css?v=202012141445">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="./lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="./lib/bootstrap/js/bootstrap-table.min.js"></script>
	<script src="./lib/bootstrap/js/bootstrap-table-zh-CN.min.js"></script>
	<script src="./lib/template.js"></script>
	<script src="./lib/canvas-bg/TweenLite.min.js"></script>
	<script src="./lib/canvas-bg/EasePack.min.js"></script>
	<script src="./lib/canvas-bg/rAF.js"></script>
	<script src="./lib/layer/layer.js"></script>
	<script src="./js/index.js?v=20240322"></script>
</head>

<body>
	<div id="canvas_bg">
		<canvas id="canvas1"></canvas>
	</div>


	<div class="index_banner">

		<table style="width: 100%">
			<tr>
				<td style="width: 5%"><img src="./img/logo.png" style="padding-right: 1em" /></td>
				<td class="hid">
					<h1 class="title">学生信息</h1>
					<h5 class="title">致敬传奇中式学校MKBS</h5>
				</td>
				<td class="options">
					<div class="row">
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">搜索车型</button>
								</span>
								<input type="text" class="form-control search" placeholder="关键字">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">级别</button>
								</span>
								<select class="form-control lv">
									<option value="all">所有</option>
									<option value="MPV">MPV</option>
									<option value="S">跑车</option>
									<optgroup label="轿车">
										<option value="0">所有轿车</option>
										<option value="A00">A00级</option>
										<option value="A0">A0级</option>
										<option value="A">A级</option>
										<option value="B">B级</option>
										<option value="C">C级</option>
									</optgroup>
									<optgroup label="SUV">
										<option value="SUV">所有SUV</option>
										<option value="SUV1">小型</option>
										<option value="SUV2">紧凑型</option>
										<option value="SUV3">中型</option>
										<option value="SUV4">中大型</option>
										<option value="SUV5">大型</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">原厂/改装</button>
								</span>
								<select class="form-control mods">
									<option value="all">所有</option>
									<option value="0">原厂</option>
									<option value="1">改装</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">动力</button>
								</span>
								<select class="form-control powerType">
									<option value="all">所有</option>
									<option value="0">油</option>
									<option value="1">电</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">产地</button>
								</span>
								<select class="form-control producer">
									<option value="all">所有</option>
									<option value="0">国产</option>
									<option value="1">合资</option>
									<option value="2">进口</option>
								</select>
							</div>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="box-tabs">
		<div class="tab active">G11</div>
		<div class="tab">G10</div>
		<div class="tab">G12</div>
	</div>

	<div class="table-responsive">
		<table id="tb_results" class="table table-hover active">
			<thead>
				<th class="ranking">
					排名
				</th>
				<th class="car">姓名Name</th>
				<th class="price t-right" style="width:100px;">性别</th>
				<th class="hp t-center"  style="width:120px;">入学时间 (Ps)</th>
				<th class="speed blue t-left"  style="width:100px;">
					生日
				</th>
				<th class="tyre"  style="width:80px;">
					走读/住宿
				</th>
				<th class="temperature t-center">
					所选科目
				</th>
				<th class="powertrain black">就读状态</th>
			</thead>

			<tbody>

			</tbody>
		</table>
		<table id="tb_results2" class="table table-hover" >
			<thead>
				<th class="ranking">
					排名
				</th>
				<th class="car">姓名Name</th>
				<th class="price t-right" style="width:100px;">性别</th>
				<th class="hp t-center"  style="width:120px;">入学时间 (Ps)</th>
				<th class="speed blue t-left"  style="width:100px;">
					生日
				</th>
				<th class="tyre"  style="width:80px;">
					走读/住宿
				</th>
				<th class="temperature t-center">
					所选科目
				</th>
				<th class="powertrain black">就读状态</th>
			</thead>

			<tbody>

			</tbody>
		</table>
		<table id="tb_results3" class="table table-hover" >
			<thead>
				<th class="ranking">
					排名
				</th>
				<th class="name">姓名Name</th>
				<th class="sex t-right" style="width:100px;">性别</th>
				<th class="enrollement_date t-center"  style="width:120px;">入学时间 (Ps)</th>
				<th class="birthday blue t-left"  style="width:100px;">
					生日
				</th>
				<th class="tyre"  style="width:80px;">
					走读/住宿
				</th>
				<th class="subjects t-center">
					所选科目
				</th>
				<th class="status black">就读状态</th>
			</thead>

			<tbody>

			</tbody>
		</table>
		
	</div>
			<div class="button">
				<span>学生信息说明书</span>
			</div>
	<div class="placeholding" style="flex: 1"></div>
</body>

<script type="text/template" id="tb">

	{{each data as v i}}
<tr 
  class="
  {{if v.sex === "男" }}
  speed0
  {{else if v.sex === "女"}}
  speed1
  {{else}}
  speed2
  {{/if}}
  "
  >
    <td>{{i + 1}}</td>
    <td class="align-left">
		{{v.name}}
	</td>
    <td class="t-right">{{v.sex}}</td>
    <td class="t-center">{{v.enrollement_date}}</td>
    <td class="blue t-left">{{v.birthday}}</td>
    <td>{{v.tyre}}</td>
    <td class="t-center">{{v.subjects}}</td>
    <td class="black">{{v.status }}</td>
  </tr>
  {{/each}}

</script>
<script type="text/template" id="tb2">

	{{each data as v i}}
<tr 
  class="
  {{if v.sex === "男" }}
  speed0
  {{else if v.sex === "女"}}
  speed1
  {{else}}
  speed2
  {{/if}}
  "
  >
    <td>{{i + 1}}</td>
	<td class="align-left">
		{{v.name}}
	</td>
    <td class="t-right">{{v.sex}}</td>
    <td class="t-center">{{v.enrollement_date}}</td>
    <td class="blue t-left">{{v.birthday}}</td>
    <td>{{v.tyre}}</td>
    <td class="t-center">{{v.subjects}}</td>
    <td class="black">{{v.status }}</td>
  </tr>
  {{/each}}

</script>
<script type="text/template" id="tb3">

	{{each data as v i}}
<tr 
  class="
  {{if v.sex === "男" }}
  speed0
  {{else if v.sex === "女"}}
  speed1
  {{else}}
  speed2
  {{/if}}
  "
  >
    <td>{{i + 1}}</td>
	<td class="align-left">
		{{v.name}}
	</td>
    <td class="t-right">{{v.sex}}</td>
    <td class="t-center">{{v.enrollement_date}}</td>
    <td class="blue t-left">{{v.birthday}}</td>
    <td>{{v.tyre}}</td>
    <td class="t-center">{{v.subjects}}</td>
    <td class="black">{{v.status }}</td>
  </tr>
  {{/each}}

</script>


<div class="tips" style="display: none;">
	<div class="tips-content tips-content-mods" >
		<h3>学生信息</h3>
		<p>包括英文名以及姓氏，性别，生日，所选科目，入学年份，是否住宿，就读状态</p>
	</div>
</div>
</html>
